
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post">
    <label>Kategori Adını Giriniz</label>
    <input type="text" class="form-control" name="ad" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

